Repository ROCm/MIVisionX, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kiritigowda, @rrawther, @ROCm/rocm-documentation

.github/CODEOWNERS:

# Source code
* @kiritigowda @rrawther
# Documentation files
docs/* @ROCm/rocm-documentation @kiritigowda @rrawther
*.md @ROCm/rocm-documentation @kiritigowda @rrawther
*.rst @ROCm/rocm-documentation

Port doc reorg to 6.1.1 (#1360)
  .gitignore
  README.md
  amd_openvx_extensions/amd_migraphx/README.md
  amd_openvx_extensions/amd_winml/samples/README.md
  apps/README.md
  apps/dg_test/README.md
  apps/mivisionx_winml_classifier/README.md
  docs/conf.py
  docs/doxygen/Doxyfile
  docs/how-to/amd_openvx.rst
  docs/how-to/mivisionx-docker.rst
  docs/how-to/model-compiler.rst
  docs/index.rst
  docs/install/amd_openvx-install.rst
  docs/install/installation.rst
  docs/install/model-compiler-install.rst
  docs/license.rst
  docs/reference/toolkit.rst
  docs/reference/utilities-loom_shell.rst
  docs/reference/utilities-mv_deploy.rst
  docs/reference/utilities-runcl.rst
  docs/reference/utilities-runvx.rst
  docs/reference/utilities.rst
  docs/sphinx/_toc.yml.in
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
  docs/tutorials/mivisionx-apps.rst
  docs/tutorials/mivisionx-samples.rst
  docs/tutorials/mivisionx-tests.rst
  docs/what-is-mivisionx.rst
  samples/loom_360_stitch/README.md
  utilities/runvx/README.md
Owners: @kiritigowda, @rrawther, @ROCm/rocm-documentation

Enable external CI pipeline triggers
  .azuredevops/rocm-ci.yml
Owners: @kiritigowda, @rrawther

Docs - Fix SoftMaxWithLoss in table (#1361)
  docs/how-to/model-compiler.rst
Owners: @ROCm/rocm-documentation

Update rocm-ci.yml
  .azuredevops/rocm-ci.yml
Owners: @kiritigowda, @rrawther

Public CI - Enable external CI pipeline triggers (#1362)
  .azuredevops/rocm-ci.yml
Owners: @kiritigowda, @rrawther

CMakeLists - Find HIP rocm 6.1.X updates
  amd_openvx_extensions/CMakeLists.txt
  amd_openvx_extensions/amd_custom/CMakeLists.txt
  amd_openvx_extensions/amd_custom/custom_lib/CMakeLists.txt
  amd_openvx_extensions/amd_media/CMakeLists.txt
  amd_openvx_extensions/amd_migraphx/CMakeLists.txt
  amd_openvx_extensions/amd_rpp/CMakeLists.txt
  apps/cloud_inference/server_app/CMakeLists.txt
  utilities/CMakeLists.txt
  utilities/runvx/CMakeLists.txt
Owners: @kiritigowda, @rrawther

Readme Updates - SLES 15.5
  CHANGELOG.md
  CMakeLists.txt
  README.md
Owners: @ROCm/rocm-documentation, @kiritigowda, @rrawther

MacOS - Fix
  CMakeLists.txt
Owners: @kiritigowda, @rrawther

Readme - Setup Updates;
  README.md
Owners: @ROCm/rocm-documentation, @kiritigowda, @rrawther

CMakeLists - Find HIP rocm 6.1.X updates (#1363)
  CHANGELOG.md
  CMakeLists.txt
  README.md
  amd_openvx_extensions/CMakeLists.txt
  amd_openvx_extensions/amd_custom/CMakeLists.txt
  amd_openvx_extensions/amd_custom/custom_lib/CMakeLists.txt
  amd_openvx_extensions/amd_media/CMakeLists.txt
  amd_openvx_extensions/amd_migraphx/CMakeLists.txt
  amd_openvx_extensions/amd_rpp/CMakeLists.txt
  apps/cloud_inference/server_app/CMakeLists.txt
  utilities/CMakeLists.txt
  utilities/runvx/CMakeLists.txt
Owners: @ROCm/rocm-documentation, @kiritigowda, @rrawther

Audio PR - Augmentation support [ Spectrogram ] (#1355)
  CHANGELOG.md
  amd_openvx_extensions/amd_rpp/CMakeLists.txt
  amd_openvx_extensions/amd_rpp/include/internal_publishKernels.h
  amd_openvx_extensions/amd_rpp/include/internal_rpp.h
  amd_openvx_extensions/amd_rpp/include/kernels_rpp.h
  amd_openvx_extensions/amd_rpp/include/vx_ext_rpp.h
  amd_openvx_extensions/amd_rpp/source/internal_publishKernels.cpp
  amd_openvx_extensions/amd_rpp/source/kernel_rpp.cpp
  amd_openvx_extensions/amd_rpp/source/tensor/Spectrogram.cpp
Owners: @ROCm/rocm-documentation, @kiritigowda, @rrawther

setup update
  MIVisionX-setup.py
Owners: @kiritigowda, @rrawther

Rename map variable
  amd_openvx_extensions/amd_rpp/include/internal_rpp.h
  amd_openvx_extensions/amd_rpp/source/kernel_rpp.cpp
Owners: @kiritigowda, @rrawther

Audio PR - Augmentation support [ Downmix and ToDecibels ] (#1320)
  CHANGELOG.md
  amd_openvx_extensions/amd_rpp/CMakeLists.txt
  amd_openvx_extensions/amd_rpp/include/internal_publishKernels.h
  amd_openvx_extensions/amd_rpp/include/internal_rpp.h
  amd_openvx_extensions/amd_rpp/include/kernels_rpp.h
  amd_openvx_extensions/amd_rpp/include/vx_ext_rpp.h
  amd_openvx_extensions/amd_rpp/source/internal_publishKernels.cpp
  amd_openvx_extensions/amd_rpp/source/kernel_rpp.cpp
  amd_openvx_extensions/amd_rpp/source/tensor/Downmix.cpp
  amd_openvx_extensions/amd_rpp/source/tensor/ToDecibels.cpp
Owners: @ROCm/rocm-documentation, @kiritigowda, @rrawther

Audio PR - Augmentation support [ Resample and Operator Overloading nodes ] (#1323)
  CHANGELOG.md
  amd_openvx_extensions/amd_rpp/CMakeLists.txt
  amd_openvx_extensions/amd_rpp/include/internal_publishKernels.h
  amd_openvx_extensions/amd_rpp/include/kernels_rpp.h
  amd_openvx_extensions/amd_rpp/include/vx_ext_rpp.h
  amd_openvx_extensions/amd_rpp/source/internal_publishKernels.cpp
  amd_openvx_extensions/amd_rpp/source/kernel_rpp.cpp
  amd_openvx_extensions/amd_rpp/source/tensor/Resample.cpp
  amd_openvx_extensions/amd_rpp/source/tensor/TensorAddTensor.cpp
  amd_openvx_extensions/amd_rpp/source/tensor/TensorMulScalar.cpp
Owners: @ROCm/rocm-documentation, @kiritigowda, @rrawther

Change map variable name
  amd_openvx_extensions/amd_rpp/source/kernel_rpp.cpp
Owners: @kiritigowda, @rrawther

Setup - PIP Package Updates (#1366)
  MIVisionX-setup.py
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Fix Resample build issues with older versions of RPP
  amd_openvx_extensions/amd_rpp/source/tensor/Resample.cpp
Owners: @kiritigowda, @rrawther

Add audio flag for slice
  amd_openvx_extensions/amd_rpp/source/tensor/Slice.cpp
Owners: @kiritigowda, @rrawther

Add audio flag
  amd_openvx_extensions/amd_rpp/source/tensor/Normalize.cpp
Owners: @kiritigowda, @rrawther

Remove the exit label
  amd_openvx_extensions/amd_rpp/source/tensor/NonSilentRegionDetection.cpp
  amd_openvx_extensions/amd_rpp/source/tensor/Slice.cpp
Owners: @kiritigowda, @rrawther

Modify the redundant lines of fillGenericDescPtrFromDims
  amd_openvx_extensions/amd_rpp/source/kernel_rpp.cpp
Owners: @kiritigowda, @rrawther

Ad the label exit back
  amd_openvx_extensions/amd_rpp/source/tensor/NonSilentRegionDetection.cpp
  amd_openvx_extensions/amd_rpp/source/tensor/Slice.cpp
Owners: @kiritigowda, @rrawther

VX RPP - Fix Resample build issues with older versions of RPP (#1369)
  amd_openvx_extensions/amd_rpp/source/tensor/Resample.cpp
Owners: @kiritigowda, @rrawther

Add validity checks for HIP
  amd_openvx_extensions/amd_rpp/source/tensor/Normalize.cpp
Owners: @kiritigowda, @rrawther

Make the right Copyright change reverted in previous commit
  amd_openvx_extensions/amd_rpp/source/tensor/Slice.cpp
Owners: @kiritigowda, @rrawther

Add audio flag for slice
  amd_openvx_extensions/amd_rpp/source/tensor/Slice.cpp
Owners: @kiritigowda, @rrawther

NNEF - Use V1.0.0 Branch
  MIVisionX-setup.py
  docs/install/model-compiler-install.rst
  model_compiler/README.md
  tests/neural_network_tests/runNeuralNetworkTests.py
Owners: @kiritigowda, @rrawther, @ROCm/rocm-documentation

Numpy - Version update
  MIVisionX-setup.py
  docker/mivisionx-on-ubuntu20.dockerfile
  docker/ubuntu20/level-5.dockerfile
  docker/ubuntu22/level-5.dockerfile
  docs/install/model-compiler-install.rst
  model_compiler/README.md
  tests/neural_network_tests/runNeuralNetworkTests.py
Owners: @kiritigowda, @rrawther, @ROCm/rocm-documentation

Setup - Fix
  MIVisionX-setup.py
Owners: @kiritigowda, @rrawther

NN Test - Fix
  tests/neural_network_tests/runNeuralNetworkTests.py
Owners: @kiritigowda, @rrawther

Setup - Fix Numpy for RPM
  MIVisionX-setup.py
  tests/neural_network_tests/runNeuralNetworkTests.py
Owners: @kiritigowda, @rrawther

Numpy - for RPM
  MIVisionX-setup.py
  tests/neural_network_tests/runNeuralNetworkTests.py
Owners: @kiritigowda, @rrawther

Test - Fix NN for RPM
  tests/neural_network_tests/runNeuralNetworkTests.py
Owners: @kiritigowda, @rrawther

NNEF - Use V1.0.0 Branch (#1370)
  MIVisionX-setup.py
  docker/mivisionx-on-ubuntu20.dockerfile
  docker/ubuntu20/level-5.dockerfile
  docker/ubuntu22/level-5.dockerfile
  docs/install/model-compiler-install.rst
  model_compiler/README.md
  tests/neural_network_tests/runNeuralNetworkTests.py
Owners: @kiritigowda, @rrawther, @ROCm/rocm-documentation

RHEL 8.X - Fix for NumPy
  MIVisionX-setup.py
Owners: @kiritigowda, @rrawther

NumPy - Updates
  MIVisionX-setup.py
  tests/neural_network_tests/runNeuralNetworkTests.py
Owners: @kiritigowda, @rrawther

RHEL 8 - Fix PIP package (#1371)
  MIVisionX-setup.py
  tests/neural_network_tests/runNeuralNetworkTests.py
Owners: @kiritigowda, @rrawther

Audio PR - Augmentation support [ Non Silent Region Detection and Slice ] (#1324)
  CHANGELOG.md
  amd_openvx_extensions/amd_rpp/CMakeLists.txt
  amd_openvx_extensions/amd_rpp/include/internal_publishKernels.h
  amd_openvx_extensions/amd_rpp/include/internal_rpp.h
  amd_openvx_extensions/amd_rpp/include/kernels_rpp.h
  amd_openvx_extensions/amd_rpp/include/vx_ext_rpp.h
  amd_openvx_extensions/amd_rpp/source/internal_publishKernels.cpp
  amd_openvx_extensions/amd_rpp/source/kernel_rpp.cpp
  amd_openvx_extensions/amd_rpp/source/tensor/NonSilentRegionDetection.cpp
  amd_openvx_extensions/amd_rpp/source/tensor/Slice.cpp
Owners: @ROCm/rocm-documentation, @kiritigowda, @rrawther
