Repository ROCm/MIVisionX, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kiritigowda, @rrawther, @ROCm/rocm-documentation

Update installation.rst
  docs/install/installation.rst
Owners: @ROCm/rocm-documentation

Setup - Updates and cmake3
  CHANGELOG.md
  MIVisionX-setup.py
  README.md
Owners: @ROCm/rocm-documentation, @kiritigowda, @rrawther

Numpy - Upgrade Version
  MIVisionX-setup.py
  docker/mivisionx-on-ubuntu20.dockerfile
  docker/ubuntu20/level-5.dockerfile
  docker/ubuntu22/level-5.dockerfile
  docs/install/model-compiler-install.rst
  model_compiler/README.md
  tests/neural_network_tests/runNeuralNetworkTests.py
Owners: @kiritigowda, @rrawther, @ROCm/rocm-documentation

update patch for audio support
  amd_openvx_extensions/amd_rpp/include/vx_ext_rpp_version.h
Owners: @kiritigowda, @rrawther

vx_rpp - update patch for audio support (#1374)
  amd_openvx_extensions/amd_rpp/include/vx_ext_rpp_version.h
Owners: @kiritigowda, @rrawther

Audio PR - Augmentation support [ Mel-Filter Bank and Normalize ] (#1326)
  CHANGELOG.md
  amd_openvx_extensions/amd_rpp/CMakeLists.txt
  amd_openvx_extensions/amd_rpp/include/internal_publishKernels.h
  amd_openvx_extensions/amd_rpp/include/kernels_rpp.h
  amd_openvx_extensions/amd_rpp/include/vx_ext_rpp.h
  amd_openvx_extensions/amd_rpp/source/internal_publishKernels.cpp
  amd_openvx_extensions/amd_rpp/source/kernel_rpp.cpp
  amd_openvx_extensions/amd_rpp/source/tensor/MelFilterBank.cpp
  amd_openvx_extensions/amd_rpp/source/tensor/Normalize.cpp
Owners: @ROCm/rocm-documentation, @kiritigowda, @rrawther

Update installation.rst
  docs/install/installation.rst
Owners: @ROCm/rocm-documentation

Setup - Update OS check
  MIVisionX-setup.py
Owners: @kiritigowda, @rrawther

Setup Upgrades - PIP package and OS identity (#1376)
  CHANGELOG.md
  MIVisionX-setup.py
  README.md
  docker/mivisionx-on-ubuntu20.dockerfile
  docker/ubuntu20/level-5.dockerfile
  docker/ubuntu22/level-5.dockerfile
  docs/install/model-compiler-install.rst
  model_compiler/README.md
  tests/neural_network_tests/runNeuralNetworkTests.py
Owners: @ROCm/rocm-documentation, @kiritigowda, @rrawther

Update installation.rst (#1373)
  docs/install/installation.rst
Owners: @ROCm/rocm-documentation

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

CTest - Updates
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/ctest_cmakelists/CMakeLists.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update installation.rst (#1373)
  docs/install/installation.rst
Owners: @ROCm/rocm-documentation

Update installation.rst (#1373)
  docs/install/installation.rst
Owners: @ROCm/rocm-documentation

Update installation.rst (#1373) (#1379)
  docs/install/installation.rst
Owners: @ROCm/rocm-documentation

Update installation.rst (#1373) (#1380)
  docs/install/installation.rst
Owners: @ROCm/rocm-documentation

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

SWDEV-468081 - Remove package provides field from RPM and DEB package
  CMakeLists.txt
Owners: @kiritigowda, @rrawther

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @kiritigowda, @rrawther

Packaging - Remove package provides field from RPM and DEB package (#1381)
  CMakeLists.txt
Owners: @kiritigowda, @rrawther

OpenCV - Tests
  CMakeLists.txt
  amd_openvx_extensions/amd_opencv/CMakeLists.txt
  tests/CMakeLists.txt
  tests/amd_opencv_tests/runOpenCVTests.py
  tests/vision_tests/gdfs/openvx_test_results/.gitkeep
Owners: @kiritigowda, @rrawther

Package - Half required for dev
  CMakeLists.txt
Owners: @kiritigowda, @rrawther

.github/CODEOWNERS:

# Source code
* @kiritigowda @rrawther
# Documentation files
docs/* @ROCm/rocm-documentation @kiritigowda @rrawther
*.md @ROCm/rocm-documentation @kiritigowda @rrawther
*.rst @ROCm/rocm-documentation
