Repository ROCm/MIVisionX, pull requests merged in 2024-04, with the labels that each got.

#1325 Update _toc.yml.in
  docs/.sphinx/_toc.yml.in
Labels: ci:docs-only

#1327 update TOC for API Ref
  docs/sphinx/_toc.yml.in
Labels: docs, ci:docs-only

#1333 Fix - SWDEV-454086
  CMakeLists.txt
  MIVisionX-setup.py
Labels: bugfix

#1334 Doc reorganization
  docs/conf.py
  docs/how-to/amd_openvx.rst
  docs/how-to/mivisionx-docker.rst
  docs/how-to/model-compiler.rst
  docs/index.rst
  docs/install/amd_openvx-install.rst
  docs/install/installation.rst
  docs/install/model-compiler-install.rst
  docs/license.rst
  docs/reference/toolkit.rst
  docs/reference/utilities-loom_shell.rst
  docs/reference/utilities-mv_deploy.rst
  docs/reference/utilities-runcl.rst
  docs/reference/utilities-runvx.rst
  docs/reference/utilities.rst
  docs/sphinx/_toc.yml.in
  docs/tutorials/mivisionx-apps.rst
  docs/tutorials/mivisionx-samples.rst
  docs/tutorials/mivisionx-tests.rst
  docs/what-is-mivisionx.rst
Labels: docs, ci:docs-only

#1314 Audio PR - Augmentation support [PreEmphasis Filter]
  CHANGELOG.md
  amd_openvx_extensions/amd_rpp/CMakeLists.txt
  amd_openvx_extensions/amd_rpp/include/internal_publishKernels.h
  amd_openvx_extensions/amd_rpp/include/internal_rpp.h
  amd_openvx_extensions/amd_rpp/include/kernels_rpp.h
  amd_openvx_extensions/amd_rpp/include/vx_ext_rpp.h
  amd_openvx_extensions/amd_rpp/source/internal_publishKernels.cpp
  amd_openvx_extensions/amd_rpp/source/kernel_rpp.cpp
  amd_openvx_extensions/amd_rpp/source/tensor/PreemphasisFilter.cpp
Labels: New Feature
