Repository ROCm/MIVisionX, pull requests merged in 2024-09, with the labels that each got.

#1420 Package - Updates
  CHANGELOG.md
  CMakeLists.txt
  MIVisionX-setup.py
  README.md
Labels: enhancement, bugfix

#1422 Strip Read the Docs dir from doxygen path
  docs/doxygen/Doxyfile
Labels: ci:docs-only, Documentation

#1429 Docs cherry pick - Strip Read the Docs dir from doxygen path (#1422)
  docs/doxygen/Doxyfile
Labels: docs, ci:docs-only, Documentation

#1428 6.2.0 Docs Cherry Pick - Strip Read the Docs dir from doxygen path (#1422)
  docs/doxygen/Doxyfile
Labels: docs, dependencies, ci:docs-only

#1427 6.1.2 Docs Cherry Pick - Strip Read the Docs dir from doxygen path (#1422)
  docs/doxygen/Doxyfile
Labels: docs, dependencies, ci:docs-only

#1426 6.1.1 Docs Cherry Pick - Strip Read the Docs dir from doxygen path (#1422)
  docs/doxygen/Doxyfile
Labels: docs, dependencies, ci:docs-only

#1424 6.0.2 Docs Cherry Pick - Strip Read the Docs dir from doxygen path (#1422)
  docs/doxygen/Doxyfile
Labels: docs, ci:docs-only, Documentation

#1423 6.0.0 Docs Cherry Pick - Strip Read the Docs dir from doxygen path (#1422)
  docs/doxygen/Doxyfile
Labels: docs, ci:docs-only, Documentation
